.flightTile {
  display: flex;
  align-content: center;
  color: darkgrey;
  background-color: mintcream;
  margin: 20px;
  border: 1px solid wheat;
  border-radius: 15px;
  box-shadow: 0 1px 1px 3px rgba(240, 240, 240, 0.5);
  width: 80vw;
}
.flight1 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 40%;
}
.flight2 {
  display: flex;

  /* border: 1px solid black; */
  width: 40%;
}
.bothFlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 20%;
}
