.form-container {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}
.formTitles {
  font-size: 0.8em;
  text-align: left;
}
.inputboxes {
  width: 100%;
}
.datePicker {
  margin: 15px 0px 15px 0px;
}
::placeholder {
  opacity: 0.4;
  font-size: 0.7em;
}
