button:focus {
  outline: none;
}

.flightTile {
  display: flex;
  align-content: center;
  color: darkgrey;
  background-color: mintcream;
  margin: 20px;
  border: 1px solid wheat;
  border-radius: 15px;
  box-shadow: 0 1px 1px 3px rgba(240, 240, 240, 0.5);
  width: 80vw;
}
.flightTileMain {
  display: flex;
  align-content: center;
  color: darkgrey;
  background-color: mintcream;
  margin: 20px;
  width: 80vw;
}
.flightTileExpand {
  display: flex;
  align-content: center;
  margin: 20px;
  width: 80vw;
}
.flight1 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 40%;
}
.flight2 {
  display: flex;
  justify-content: flex-end;

  /* border: 1px solid black; */
  width: 40%;
}
.bothFlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  color: rgb(82, 79, 79);
  width: 20%;
}
.tripDetails {
  color: rgb(82, 79, 79);
}

.outbound {
  font-size: 0.8em;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.inbound {
  font-size: 0.8em;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.heading {
  color: rgb(82, 79, 79);
}
