# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI/CD

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
    
    env:
      NODE_PATH: src/
      CI: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
  
    - name: Install dependencies
      run: npm install

    - name: Run the tests and generate coverage report
      run: npm test -- --coverage --updateSnapshot
    
    - name: Trufflehog Actions Scan
      uses: edplato/trufflehog-actions-scan@v0.9i-beta

    - name: Codecov
      uses: codecov/codecov-action@v1.0.7
      with:
        token: 29e846ed-c4d3-4a64-b50c-9b900262ae7c
        
    - name: Test & publish code coverage
      uses: paambaati/codeclimate-action@v2.6.0
      env:
        CC_TEST_REPORTER_ID: 7e32a9439b9fc9dbfe276c6ebddf638a72ad9b28b0b98640d08371ca7d45ba49
      with:
        coverageCommand: npm test -- --coverage
        
    - name: Codacy Coverage Reporter
      uses: codacy/codacy-coverage-reporter-action@0.2.0
      with:
        project-token: a5991fec2bf64165a781d80fb5ae71e0

    - name: Build
      run: npm run build
